.bottom-section .tabs {
  display: flex;
}

.bottom-section .tabs .tab {
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.bottom-section .tabs .tab:hover {
  color: #fff;
}

.bottom-section .tab-content h3 {
  padding: 15px;
}

.bottom-section .active {
  color: #fff;
  margin-bottom: 5px;
  border-bottom: 1px solid #fff;
}
